@import "../Styles/mediaQuery";
@import "../Styles/breakPoints";
@import "../Styles/globalStyles";

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
    main {
      flex-grow: 1; 
      display: flex; 
    }
  }
  